body { background: #094fc2; color: #fff; }

.navbar { background-image: linear-gradient(to bottom, #0a3784 0, #041a3f 100%); }
.navbar .navbar-brand { background: url("../images/logo.png") no-repeat 0; text-indent: -999em; width: 140px; }
.navbar .navbar-toggle { background: #333; line-height: 14px; float: left; margin: 8px 0 8px 15px; padding: 9px 8px; }
.navbar .navbar-toggle .icon-bar { width: 18px; }
.navbar .navbar-area { cursor: pointer; background: #333; line-height: 14px; position: relative; float: right; padding: 9px 10px; margin: 8px 15px; border: 1px solid transparent; border-radius: 4px; }

#main { padding-top: 4.5em; }

#loading-bar .bar { background: #33ba3a; height: 4px; }
#loading-bar-spinner .spinner-icon { width: 18px; height: 18px; border: solid 4px transparent; border-top-color: #cadd22; border-left-color: #cadd22; border-radius: 10px; }

span.red { color: #F00; }

#form-container .page-header { display: none; }

.col { padding: 0 0 0 0; }

.bootstrap-datetimepicker-widget { color: #000; }

.ui-datepicker-trigger { display: none; }