<div class="booking">
    <div class="form-group">
        <label for="schedule_date">Date<span class="red">*</span>:</label>
        <div class='input-group date'>
            <input type="text" class="form-control" id="schedule_date" ng-model="booking.Schedule.Date" placeholder="dd-mm-yyyy" ng-required="true" datepicker ng-readonly="true" />
            <span class="input-group-addon calendar-button">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="list-group" ng-show="booking.Schedule.Date">
        <a ui-sref="booking.personal({categoryId: booking.Category.ID, makeId: booking.Car.Make.ID, modelId: booking.Car.Model.ID, serviceId: booking.Service.ID, schedule: s.DateTick})" class="list-group-item {{s.Selected ? 'active' : ''}} {{s.Active ? '' : 'disabled'}}" ng-disable="!s.Active" ng-repeat="s in timeSlots">{{s.StartTime}} - {{s.EndTime}}</a>
    </div>

    <div class="row action">
        <div class="col-xs-6">
            <a ui-sref="booking.services({categoryId: booking.Category.ID, makeId: booking.Car.Make.ID, modelId: booking.Car.Model.ID})" class="btn btn-block btn-default">Back</a>
        </div>

        <div class="col-xs-6">
            <a ui-sref="booking.personal({categoryId: booking.Category.ID, makeId: booking.Car.Make.ID, modelId: booking.Car.Model.ID, serviceId: booking.Service.ID, schedule: booking.Schedule.Date})" class="btn btn-block btn-info" ng-disabled="booking.Schedule === ''">Next</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".calendar-button").click(function() {
            $(".ui-datepicker-trigger").click();
        });
    });
</script>