<div class="login">
    <div class="alert alert-danger" role="alert" ng-show="error.Status">{{error.Message}}</div>
    <div class="alert alert-success" role="alert" ng-show="success.Status">{{success.Message}}</div>

    <form name="loginForm" class="form-container" ng-submit="loginForm.$valid && loginUser(login)" ng-hide="success.Status">
        <div class="form-group">
            <label for="email">Email<span class="red">*</span>:</label>
            <input type="email" class="form-control" id="email" ng-model="login.Email" ng-required="true" />
        </div>

        <div class="form-group">
            <label for="password">Password<span class="red">*</span>:</label>
            <input type="password" class="form-control" id="password" ng-model="login.Password" ng-required="true" />
        </div>

        <input type="submit" class="btn btn-info btn-block" value="Login" />
        <a ui-sref="welcome" class="btn btn-block btn-default">Cancel</a>
    </form><br/>

    <a ui-sref="forgotpassword" class="btn btn-block btn-default" ng-hide="success.Status">Forgot password?</a>
    <a ui-sref="register" class="btn btn-block btn-default" ng-hide="success.Status">Get A Free Account?</a>
</div>
